// ==========================================================================
// Left menu
// ==========================================================================
.nav {
  @extend %reset;
  color: #fff;
  padding-top: 20px;
  background: red;
}