// ==========================================================================
// Left menu
// ==========================================================================
.identity {
  background: #0D1214;
  color: #fff;
  padding: 51px 0;
  text-align: center;
  text-transform: uppercase;
}

.nav {
  @extend %reset;
  background: #191E23;
  color: #fff;
  list-style-type: none;
  font-size: 15px;
  padding-left: 40px;
  text-transform: uppercase;

  &.sub-nav {
    background: none;
  }

  .nav-item {
    &:first-child a { border-top: none; }
    a {
      transition: color .2s;
      border-top: 1px solid #090A0D;
      color: #6F7D8D;
      display: block;
      text-decoration: none;
      padding: 17px 0;

      &:hover {
        color: #fff;
      }
    }//end a

    .icon {
      font-size: 17px;
      margin-right: 18px;
    }
  }//end nav-item
}//end nav

.sub-nav {
  @extend %reset;
}