// ==========================================================================
// Page
// ==========================================================================
html, body {
  height: 100%;
  margin: 0;
  @extend %font-regular;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;

  // Disable user selection
  -webkit-user-select: none;
}

.workspace {
  @include absolute(top 43px right 0 bottom 0 left 0);

  :-webkit-full-screen &, .full-screen & {
    top: 0;
  }
}

.shortcuts {
  @include absolute(top 20px left 20px);
  @include transition(transform .35s ease);

  .shortcuts-list {
    list-style-type: none;
    @extend %reset;

    li:first-child .btn-shortcut { margin-top: 0; text-transform: uppercase; }

    .btn-shortcut {
      @include transition(background .2s);
      background: rgba(0,0,0,.4);
      border-radius: 3px;
      border: 1px solid rgba(255,255,255,.5);
      color: rgba(255,255,255,.8);
      display: inline-block;
      font-size: 14px;
      margin: 10px 0;
      min-width: 74px;
      padding: 8px 15px;
      text-decoration: none;
      text-align: center;
      text-transform: capitalize;
      z-index: 2;

      &.btn-shortcut-menu {
        -webkit-transition: padding .2s;

        .icon-burger {
          @include absolute(left -20px);
          display: none;
          -webkit-transition: opacity .2s, left .2s, top .2s;
          opacity: 1;
          margin-right: 5px;
        }

        &:hover {
          padding-left: 35px;

          .icon-burger {
            @include absolute(left 13px top 10px);
            display: block;
            opacity: 1;
          }
        }
      }

      &:hover {
        background: rgba(0,0,0,.6);
      }
    }
  }//end shortcuts-list

  .menu-open & {
    -webkit-transform: translate3d(300px, 0, 0);
  }

  .side-view-open & {
    -webkit-transform: translate3d(880px, 0, 0);
  }
}//end shortcuts

.menu {
  @include absolute(top 0 left 0 right 0 bottom 0);
  @include transition(transform .35s cubic-bezier(0.7,0,0.175,1));
  -webkit-transform: translate3d(-280px, -0, 0);
  box-shadow: 2px 0 2px rgba(0,0,0,.15);
  overflow: hidden;
  width: 280px;
  z-index: 2;

  &:before {
    @include absolute(top 0 right 0 bottom 0 left 0);
    content: '';
    background: rgba(35,42,48,0.91);
    z-index: -1;
  }

  .menu-open & {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

.error-msg-container {
  @include absolute(top 140px left 50%);
  box-shadow: 0 0 25px 0px rgba(0,0,0,.8);
  color: #fff;
  z-index: 99;
  width: 592px;
  margin-left: 592px / 2 * -1;

  header {
    background: #D25255 url('../images/warning.png') top right no-repeat;
    padding: 16px 21px;
  }

  h1 {
    @extend %reset;
    font-size: 26px;
    padding-bottom: 21px;
    position: relative;
    text-align: left;

    &:after {
      content: '';
      @include absolute(left -21px right -21px bottom 0);
      background: #BE484C;
      height: 2px;
      border-bottom: 1px solid #FC6368;
    }
  }//end h1

  .error-msg {
    font-size: 14px;
    margin: 21px 0 5px 0;
  }

  footer {
    background: #fff;
    padding: 21px;
    text-align: right;

    .btn {
      color: #d5403d;
      &:hover { color: #fff; }
    }
  }
}

